<div class="row-fluid span12">
    <div class="tabbable">
		<h3>SIO Control Settings</h3>
		<ul class="nav nav-tabs" id="siocontrol_tabs">
			<li><a data-toggle="tab" href="#siocontrol_Connection">Connection</a></li>
			<li class="active"><a data-toggle="tab" href="#siocontrol_Integrations">Integrations</a></li>
            <li><a data-toggle="tab" href="#siocontrol_IO_Configuration">IO Configuration</a></li>
            <!--<li><a data-toggle="tab" href="#siocontrol_IO_Action_Scripts">Action Scripts</a></li>-->
		</ul>
		<div class="tab-content">
            <div id="siocontrol_Connection" class="tab-pane">
                <div class="span12 ">
                    <h4>IO Connection Settings</h4>
                </div>
                <span class="text-error" data-bind="visible: SIO_Port()===undefined">You must save basic connection settings before you can connect.</span>
                <div class="control-group span12 ">
                    <div class="controls span11 ">
                        <div class="span3 pull-left " >
                            <label class="control-label">Comm Port</label>
                        </div>
                        <div class="span4 " >
                            <select data-bind="value: SIO_Port,options:SIO_Ports, optionsCaption: 'select...'"></select>
                        </div>
                        <div class="span1 " >
                            <button class="btn" data-bind="click: getPorts" title="Refresh Connection Options"><i class="fas fa-sync"></i></button>
                        </div>
                        <div class="span1 " >
                            <button class="btn" data-bind="click: connectIO" title="Connect"><i class="fas fa-assistive-listening-systems"></i></button>
                        </div>
                        <div class="span2 pull-left ">
                            <span data-bind="text: IOStatusMessage"></span>
                        </div>
                    </div>
                </div>
                <div class="control-group span12 ">
                    <div class="controls span12 ">
                        <div class="span3 " >
                            <label class="control-label">Baud rate</label>
                        </div>
                        <div class="span9 " >
                            <select data-bind="value: SIO_BaudRate,options:SIO_BaudRates , optionsCaption: 'select...'"></select>
                        </div>
                    </div>
                </div>
                <div class="control-group span12 ">
                    <div class="controls span12 ">
                        <div class="span3 " >
                            <label class="control-label">IO report interval(ms)</label>
                        </div>
                        <div class="span8 pull-left " >
                            <select data-bind="value: SIO_SI">
                                <option value="" disabled selected>select...</option>
                                {%for item in plugin_siocontrol_IOSIs %}
                                <option value="{{ item }}">{{ item }}</option>
                                {% endfor %} 
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>
            <div id="siocontrol_Integrations" class="tab-pane active">
                <div id="siocontrol_Connection" class="tab-pane  ">
                    <div class="row-fluid ">
                        <h4>Integrations</h4> 
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><h5>Type</h5></div>
                        <div class="span2"><h5>Enable?</h5></div>
                        <div class="span1"><h5>IO#</h5></div>
                        <div class="span1"></div>
                        <div class="span3"><h5>Active LOW?</h5></div>
                    </div>
                    <div class="control-group row-fluid ">
                        <div class="controls row-fluid ">
                            <div class="span3">
                                <label class="siocontrol_label control-label input-block-level">PSU Control</label>
                            </div>
                            <div class="span2">
                                <input name="chk_SIO_EnablePSUIOPoint" type="checkbox" class="" data-bind="checked: SIO_EnablePSUIOPoint" >
                            </div>
                            <div class="span1">
                                <input  type="number" class="siocontrol_InNumber" data-bind="value: SIO_PSUIOPoint" >
                            </div>
                            <div class="span1"></div>
                            <div class="span3">
                                <input type="checkbox" class="" data-bind="checked: SIO_InvertPSUIOPoint" >
                            </div>
                        </div>
                        <div class="controls row-fluid ">
                            <div class="span3">
                                <label class="siocontrol_label control-label">EStop</label>
                            </div>
                            <div class="span2">
                                <input type="checkbox" class="" title="enable" data-bind="checked: SIO_EnableESTIOPoint" >
                            </div>
                            <div class="span1">
                                <input class="siocontrol_InNumber" type="number" data-bind="value: SIO_ESTIOPoint" >
                            </div>
                            <div class="span1"></div>
                            <div class="span3">
                                <input type="checkbox" class="" data-bind="checked: SIO_InvertESTIOPoint" >
                            </div>
                        </div>                        
                        <div class="controls row-fluid ">
                            <div class="span3">
                                <label class="siocontrol_label control-label">Filament Runout</label>
                            </div>
                            <div class="span2">
                                <input type="checkbox" class="" title="Enable" data-bind="checked: SIO_EnableFRSIOPoint" >
                            </div>
                            <div class="span1">                            
                                <input class="siocontrol_InNumber" type="number" data-bind="value: SIO_FRSIOPoint"> 
                            </div>
                            <div class="span1"></div>
                            <div class="span3">
                                <input type="checkbox" class="" data-bind="checked: SIO_InvertFRSIOPoint" >
                            </div>
                        </div>                         
                    </div>  
                </div>
            </div>
            <div id="siocontrol_IO_Configuration" class="tab-pane">
                <div class="control-group span12">   
                    <h4>IO Configuration</h4>
                    <div class="row-fluid">
                    Add a row below for each IO point you wish to monitor or control.  Each row represents a button or switch. To add an Icon button to the navigation bar, check column [Nav?].
                    </div>
                    <div class="row-fluid">
                        <div class="span2"><h4>Icon</h4></div>
                        <div class="span2"><h4>Label</h4></div>
                        <div class="span1"><h4>IO#</h4></div>
                        <div class="span3"><h4>Active As</h4></div>
                        <div class="span2"><h4>Default To</h4></div>
                        <div class="span1"><h4>Nav?</h4></div>
                        <div class="span1"><h4></h4></div>
                    </div>

                    <div data-bind="foreach: sioConfigurations">
                        <div class="row-fluid siocontrol-settings-row">
                            <div class="span2">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="span2 iconpicker-component"></i></span>
                                    <input class="iconpicker span10" type="text" data-bind="value: icon, valueUpdate: 'iconpickerSelected'"/>
                                </div>
                            </div>
                            <div class="span2">
                                <input class="siocontrol_textName" type="text" data-bind="value: name"/>
                            </div>            
                            <div class="input-prepend span1">
                                <input class="siocontrol_InNumber" type="number" data-bind="value: pin"/>
                            </div>
                            <div class="input-prepend span3">
                                <select class="btn-group span12" data-bind="value: active_mode">
                                    <option value="active_out_low">Out_LOW</option>
                                    <option value="active_out_high">Out_HIGH</option>
                                    <option value="active_in_high">In_HIGH</option>
                                    <option value="active_in_low">In_LOW</option>
                                </select>
                            </div>
                            <div class="input-prepend span2">
                                <select class="btn-group span12" data-bind="value: default_state">
                                    <option value="default_off">OFF</option>
                                    <option value="default_on">ON</option>
                                </select>
                            </div>
                            <div class="input-prepend span1">
                                <input type="checkbox" class="input-block-level" data-bind="checked: on_nav" /> 
                            </div>
                            <div class="span1">
                                <a title="Remove SIO Configuration" class="btn btn-danger" data-bind="click: $parent.removeSioConfiguration">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid" >
                        <div class="offset11 span1">
                            <a title="Add SIO Configuration" class="btn btn-primary" data-bind="click: addSioConfiguration"><i class="icon-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div id="siocontrol_IO_Action_Scripts" class="tab-pane">
                <h4>IO Configuration</h4>
                <div class="row-fluid">
                <p>Add a row below for each IO point you wish to connect to a Script. Enable or Disable, Select the trigger and script Name. Create a new script to assignd to an IO trigger.</p> 
                </div>
                <div class="row-fluid">
                    <div class="span2">Existing Script</div>
                    <div class="span2">
                        <select class="siocontrol_scriptList" data-bind="value: SIO_SI">
                            <option value="" disabled selected>select...</option>
                            {%for item in plugin_siocontrol_IOSIs %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %} 
                        </select>
                    </div>
                    <div class="span1"><a title="Edit SIO Action Script" class="btn btn-primary" data-bind="click: addSioConfiguration"><i class="icon-edit"></i></a></div>
                    <div class="span2"><a title="Delete selected SIO Action Script" class="btn btn-danger" data-bind="click: addSioConfiguration"><i class="icon-trash"></i></a></div>
                    <div class="span1"><a title="Add SIO Action Script" class="btn btn-primary" data-bind="click: addSioConfiguration"><i class="icon-plus"></i></a></div>
                </div>
                <div class="row-fluid">
                    <div class="span2">Script Name</div>
                    <div class="span2">
                        <input type="text"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2">Script</div>
                    <div class="span10">
                        <textarea row="8" class="block monospace"></textarea>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span1"><h4>Enable</h4></div>
                    <div class="span2"><h4>IO#</h4></div>
                    <div class="span3"><h4>Action On</h4></div>
                    <div class="span3"><h4>Script</h4></div>
                </div>
            </div>
            -->
        </div>    
    </div>    
</div>
