/* TODO: Have your plugin's CSS files generated to here. */
.siocontrol-button-row .siocontrol-button-label {
    padding-top: 4px;
    padding-bottom: 4px;
}

.siocontrol-button-row .siocontrol-button-label i {
    width: 20px;
}

.siocontrol-button-row .siocontrol-button-controls .btn {
    width: 50%;
}

.siocontrol-settings-row {
    margin-bottom: 5px
}

.siofntBlk {
    color: black;
}

.siofntRed {
    color: red;
}

.siofntGrn {
    color: green;
}

.siofntYel {
    color: yellow;
}

.siocontrol_btOn i {
    color: #0F0
}

.siocontrol_btOff i {
    color: grey
}

.siocontrol_outliner {
    outline: 1px solid orange;
}

.siocontrol_InNumber {
    width: 100%;

}

.siocontrol_scriptList {
    width: 120px;
}

.siocontrol_label {
    margin-top: 5px;
}

.siocontrol_textName {
    width: 100%;

}